/* header */

header    { background: rgb(0, 0, 0, 0.2);/* 20% black */ } 

div.logo  { grid-area: header-left; }

div.headspace { grid-area: header-center; }

nav       { grid-area: header-right; }

/* header */

/* body-content */

article   { grid-area: main-panel;
            justify-self: center;/* always centered in grid area */ }

aside     { grid-area: aside; }

/* body-content */

/* footer */

footer    { background: rgb(0, 0, 0, 0.2);/* 20% black */ }

div.footer-logo { grid-area: footer-left; }

div.footer-menu { grid-area: footer-right; }

div.footer-copyright { grid-area: footer-center; }

/* footer */

header    { grid-area: header-left; background: rgb(0, 0, 0, 0.2);/* 20% black */ } 
div.content { grid-area: main-panel; }
footer    { background: rgb(0, 0, 0, 0.2);/* 20% black */ }



main{
  display: grid;
  min-height: 20rem; /* mainbody height never squishes < 25rem */
  width: 100%;
  height: 100%;

  grid-template-areas:
    "header-left header-center header-right"
    "aside main-panel aside"
    "footer-left footer-center footer-right";

  grid-template-columns:1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;

  align-items: center;
  justify-items: center;
}

/* header */

header    { background: rgb(0, 0, 0, 0.2);/* 20% black */ } 

div.logo  { grid-area: header-left; }

div.headspace { grid-area: header-center; }

nav       { grid-area: header-right; }

/* header */

/* body-content */

div.content   { grid-area: main-panel;
            justify-self: center;/* always centered in grid area */ }

aside     { grid-area: aside; }

/* body-content */

/* footer */

footer    { background: rgb(0, 0, 0, 0.2);/* 20% black */ }

div.footer-logo { grid-area: footer-left; }

div.footer-menu { grid-area: footer-right; }

div.footer-copyright { grid-area: footer-center; }

/* footer */




<main>

<header>

  <logo>logo</logo>
  <nav>nav</nav>

</header>

<content>content</content>

<footer>

  <footer-logo>footer-logo</footer-logo>
  <footer-menu>footer-menu</footer-menu>
  <footer-nav>footer-nav</footer-nav>
  <subscribe>subscribe</subscribe>

</footer>

<footer-2>

  <copyright>copyright</copyright>
  <download>download</download>
  
</footer-2>

</main>



main{
  display: grid;
  min-height: 20rem; /* mainbody height never squishes < 25rem */
  width: 100%;
  height: 100%;

  grid-template-areas:
    "header-left header-center header-right"
    "content content content"
    "footer-logo footer-menu subscribe"
    "copyright copyright download-links";

  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);

  align-items: center;
  justify-items: center;
}

/* header */

header    { background: rgb(0, 0, 0, 0.2);/* 20% black */ } 
logo  { grid-area: header-left; }
headspace { grid-area: header-center; }
nav       { grid-area: header-right; }

/* header */

/* body-content */

content   { grid-area: content;
            justify-self: center;/* always centered in grid area */ }


/* body-content */

/* footer */

footer    { background: rgb(0, 0, 0, 0.2);/* 20% black */ }
footer-logo { grid-area: footer-logo; }
footer-menu { grid-area: footer-menu; }
subscribe { grid-area: subscribe; }

/* footer */

/* copyright */

footer-2    { background: rgb(0, 0, 0, 0.2);/* 20% black */ }
copyright { grid-area: copyright; }
download  { grid-area: download-links; } 

/* copyright */





