/* == Fonts ==*/

  /* Overlock */
  @import url('https://fonts.googleapis.com/css2?family=Overlock:wght@400;700&display=swap');
  /* Overlock */

  /* Fontin */
  @font-face {
    font-family: "Fontin";
    src: url('../../The_Elements/Brand_Identity/Typography/Logotype/Fontin/Fontin-Regular.woff') format('woff');
    font-style: normal;
    font-weight: normal;
    }    
  /* Fontin */

  /* CircularAirPro Light */
  @font-face {
    font-family: "Circular Light";
    src: url('../../The_Elements/Brand_Identity/Typography/Sans-Serif/CircularAirPro-Light/CircularAirPro-Light.woff') format('woff');
    font-style: normal;
    font-weight: normal;
    }    
  /* CircularAirPro Book */

  /* CircularAirPro Book */
  @font-face {
    font-family: "Circular Book";
    src: url('../../The_Elements/Brand_Identity/Typography/Sans-Serif/Circular-Air-Pro-Book/CircularAirPro-Book.woff') format('woff');
    font-style: normal;
    font-weight: normal;
    }    
  /* CircularAirPro Book */

  /* CircularAirPro Bold */
  @font-face {
    font-family: "Circular Bold";
    src: url('../../The_Elements/Brand_Identity/Typography/Sans-Serif/Circular-Air-Pro-Bold/CircularAirPro\ Book\ Bold.woff') format('woff');
    font-style: normal;
    font-weight: normal;
    }   
  /* CircularAirPro Bold */

  /* Averta Std Regular-Italic */
  @font-face {
    font-family: "Averta";
    src: url('../../The_Elements/Brand_Identity/Typography/Sans-Serif/AvertaStd-RegularItalic/AvertaStd-RegularItalic.woff') format('woff');
    font-style: italic;
    font-weight: normal;
    }    
  /* Averta Std Regular-Italic */

  /* Averta Light */
  @font-face {
    font-family: "Averta Light";
    src: url('../../The_Elements/Brand_Identity/Typography/Sans-Serif/AvertaStd-LightItalic/AvertaStd-LightItalic.woff') format('woff');
    font-style: italic;
    font-weight: normal;
    }    
  /* Averta Std Regular-Italic */

  /* Helvetica Now Display */
  @font-face {
    font-family: "Helvetica Now Display";
    src: url('../../The_Elements/Brand_Identity/Typography/Sans-Serif/Helvetica-Now-Display/Helvetica-Now-Display.woff') format('woff');
    font-style: normal;
    font-weight: normal;
    }    
  /* Helvetica Now Display */

/* == Fonts ==*/